<div class="form-container">
  <div class="comment-err">
    <% if @comment.errors.any? %>
      <% @comment.errors.full_messages.each do |err| %>
        <p><%= err %></p>
      <% end %>
    <% end %>
  </div>

    <%= form_for([@post, @comment]) do |f| %>
      <%= f.hidden_field :post_id %>
      <%= f.label :name, "名前" %>
      <%= f.text_field :name, class: "comment-author", placeholder: "※必須項目　20文字以内" %>
      <%= f.label :content, "コメント" %>
      <%= f.text_area :content, class: "comment-body", placeholder: "※必須項目" %>
      <%= f.submit "投稿する", class: "submit-btn" %>
    <% end %>

</div>