<h2>コメント</h2>
<% @comments.each do |comment| %>
<div class="comment-entries">
  <div class="comment-author">
    <%= simple_format(comment.name) %>
  </div>
  <div class="comment-date">
    <i class="far fa-clock fa-fw"></i>
    <%= simple_time(comment[:created_at]) %>
  </div>
  <div class="comment-body">
    <%= simple_format(comment.content) %>
  </div>
  
  <% if admin_signed_in? %>
    <div class="comment-admin-menu">
      <%= link_to "削除", post_comment_path(comment.post_id, comment.id),
                          method: :delete, data: {confirm: "削除しますか？"} %>
    </div>
  <% end %>
</div>
<% end %>
