<%= form_for(@post) do |f| %>
<%= f.collection_check_boxes :category_ids, Category.all, :id, :name, class: 'categories' %>
<div class="post-title">
  <h1><%= f.label :title, "タイトル" %></h1>
  <%= f.text_field :title, class: "title-input" %>
</div>
<div class="post-thumb">
  <h1><%= f.label :thumb, "サムネイルURL" %></h1>
  <%= f.text_field :thumb, class: "thumb-url" %>
</div>
<div class="post-keywords">
  <%= f.label :keywords, "meta_tag_key_words" %>
  <%= f.text_area :keywords, class: "keywords-input" %>
</div>
<div class="post-description">
  <%= f.label :description, "meta_tag_description" %>
  <%= f.text_area :description, class: "description-input" %>
</div>
<div id='editor'>
  <div class="input">
  <h1><%= f.label :content, "本文" %></h1>
  <%= f.text_area :content, "v-model" => "input", "debounce" => "50", class: "content-input" %>
  </div>
  <div class="output" v-html='input | marked'></div>
</div>
<%= f.submit %>
<% end %>


<script type="text/javascript">
  window.onload = function() {
    new Vue({
      el: '#editor',
      data: {
        input: '<%== j @post.content %>',
      },
      filters: {
        marked: marked,
      },
    });
  };
</script>