<% @post.each do |post| %>
  <section class="index-box">
    <%= link_to post_path(post) do %>
      <%= image_tag "#{post.thumb}"%>
      <h2><%= post.title %></h2>
      <span>
        <i class="far fa-clock fa-fw"></i><%= simple_time(post[:created_at]) %>
      </span>
    <% end %>
  </section>
<% end %>

<%= paginate @post %>
