<% set_meta_tags title: @post.title, description: @post.description, keywords: @post.keywords,
           og: { title: @post.title, type: 'blog', description: @post.description, image: @post.thumb }, 
           twitter: { title: @post.title, description: @post.description } %>
<section class="article">
  <div class="article-header">
    <div class="article-img">
      <%= image_tag "#{@post.thumb}" %>
      <%#777777= render 'layouts/icon' %>
    </div>
    <div class="article-title">
      <h1><%= @post.title %></h1>
      <div class="article-date">
        <p><i class="far fa-clock fa-fw"></i><%= simple_time(@post[:created_at]) %></p>
        <% @categories.each do |category| %>
          <div class="article-categories">
              <%= link_to category.name, category_path(category) %>
          </div>
        <% end %>
        <% if admin_signed_in? %>
          <div class="admin-menu">
            <%= link_to "編集", edit_post_path(@post.id) %>
          </div>
          <div class="admin-menu">
            <%= link_to "削除", post_path(@post.id), method: :delete, data: {confirm: "削除しますか？"} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="article-content">
    <%= markdown(@post.content).html_safe %>
  </div>
  <div class="twitter-share">
    <a href="https://twitter.com/intent/tweet?url=<%= @url %>&text=<%= @post.title %>">シェアする</a>
  </div>
</section>
<section class="comments">
  <%= render 'comments/index' %>
  <%= render 'comments/form' %>
</section>
