/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Reset CSS
@import "reset.scss";

// Mixin
@import "responsive";
@import "logo-anime";

// Web Fonts
//gem font-awesomeが本番環境で使えない為CDNで使用
//@import "font-awesome-sprockets"; 
//@import "font-awesome";  
@import "icomoon/style";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
@font-face {
  font-family: "rictydiminished";
  src: font-url('RictyDiminished-Regular') format('truetype');
}



html, body {
  height: 100%;
}
body {
  font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", 
               "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", 
               "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, 
               "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  word-wrap: break-word;
}


.wrapper {
  background-color: #f9f9f9;
}

.main {
  max-width: 479px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  display: flex;
  flex-wrap: wrap;
    // Responsive    
@include portrait {

}
@include landscape {

}
//@include desktop {

//}
}
header {
  background-color: #6db5a9;
  
  .logo {
    svg {
      width: 100%;
      margin: 0 auto;
      @include logo-anime {
        
      }
    }
  }
  
  #nav-drawer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  }
  
  //チェックボックス等は非表示に
  
  .nav-unshown {
    display: none;
  }
  
  //アイコンのスペース
  
  #nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
    .fa-2x {
      position: absolute;
      opacity: 0.5;
      border-radius: 3px;
      display: block;
      content: '';
      cursor: pointer;
    }
  }
  
  //ハンバーガーアイコンをCSSだけで表現
  
  //閉じる用の薄黒カバー
  
  #nav-close {
    display: none;
    //はじめは隠しておく
    position: fixed;
    z-index: 99;
    top: 0;
    //全体に広がるように
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
  }
  
  //中身
  
  #nav-content {
    margin: 10px auto;
    padding: 15px auto;
    overflow: auto;
    position: fixed;
    bottom: 50px;
    right: 0;
    z-index: 9999;
    //最前面に
    width: 50%;
    //右側に隙間を作る（閉じるカバーを表示）
    //max-width: 330px;
    //最大幅（調整してください）
    height: auto;
    background: rgba(109,181,169,0.8);
    //背景色
    transition: .3s ease-in-out;
    //滑らかに表示
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
    //左に隠しておく
    ul {
      a {
        color: #DE7F59;
        text-decoration: none;
        li {
          border-bottom: solid 1px #fff;
          margin: 0.8em;
          padding: 0.8em;
          span {
            color: #fff;
          }
        }
      }
    }
  }
  
  //チェックが入ったらもろもろ表示
  
  #nav-input:checked ~ {
    #nav-close {
      display: block;
      //カバーを表示
      opacity: .5;
    }
    #nav-content {
      border-radius: 100%;
      text-align: center;
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
      //中身を表示（左へスライド）
      box-shadow: 6px 0 25px rgba(255, 255, 255, 0.3);
      position: fixed;
      z-index: 9999;
    }
  }
}






footer {
  background-color: #6db5a9;
}