// タグ追加form

@mixin category-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .category-name {
    width: 100%;
    .name-input {
      border: solid 1px #ccc;
      border-radius: 5px;
      box-shadow: 0 1px 5px #ccc;
      width: 100%;
      padding: 0.8rem;
      margin-bottom: 1.8rem;
      background: #f0f0f0;
    }
  }
  
  .category-thumb {
    width: 100%;
    .category-url {
      border: solid 1px #ccc;
      border-radius: 5px;
      box-shadow: 0 1px 5px #ccc;
      width: 100%;
      padding: 0.8rem;
      margin-bottom: 1.8rem;
      background: #f0f0f0;
    }
  }
  @content
}