// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "responsive";
@import "category-form";
//---index page---
.categories-index {
  h1 {
    font-size: 2rem;
    text-align: center;
  }
  .categories {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      li {
        width: 100%;
        height: 10vh;
        margin: 1rem auto;
        display: flex;
        a {
          width: 100%;
          height: 100%;
          border: solid 1px #ccc;
          border-radius: 5px;
          box-shadow: 0 0 5px #ccc;
          background: #f0f0f0;
          display: flex;
          text-decoration: none;
          img {
          width: 38%;
          height: auto;
          border-radius: 5px;
          overflow: hidden;
          object-fit: cover;
          }
          h2 {
            width: 62%;
            margin: auto 0.8rem;
          }
        }
      }
    }
    .admin-menu {
      width: 100%;
    }
  }
}

//---show page---
.categories-show {
  h1 {
    font-size: 2rem;
    text-align: center;
  }
  .categories {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    .admin-menu {
      width: 100%;
      text-align: right;
      a {
        padding: 0.8em;
        border: solid 1px #ccc;
        border-radius: 5px;
        box-shadow: 0 0 5px #ccc;
        background: #f0f0f0;
        text-decoration: none;
      }
    }
    ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      li {
        width: 100%;
        height: 10vh;
        margin: 1rem auto;
        display: flex;
        a {
          width: 100%;
          height: 100%;
          border: solid 1px #ccc;
          border-radius: 5px;
          box-shadow: 0 0 5px #ccc;
          background: #f0f0f0;
          display: flex;
          text-decoration: none;
          overflow: hidden;
          img {
          width: 32%;
          height: auto;
          border-radius: 5px;
          overflow: hidden;
          object-fit: cover;
          }
          h2 {
            width: 68%;
            margin: auto 0.8rem;
          }
        }
      }
    }
  }
}

//---new page---
.edit_category {
  @include category-form {
    
  }
}
//---edit page---
.new_category {
  @include category-form {
    
  }
}