// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "responsive";

//---Comment　Index---
.comments {
  width: 100%;
  padding: 0 5%;
  display: flex;
  flex-wrap: wrap;
  h2 {
    width: 100%;
    margin-bottom: 1.8rem;
    font-size: 1.5rem;
    border-bottom: solid 0.2rem #19ffa7;
  }
  
  .comment-entries {
    width: 100%;
    margin-bottom: 1.8rem;
    border: solid 1px #ccc;
    border-radius: 5px;
    box-shadow: 0 1px 5px #ccc;
    background-color: rgba(190,236,218,0.5);
    .comment-author {
      margin: 1rem 1rem 0 1rem;
    }
    
    .comment-date {
      margin: 0 1rem 0 1rem;
      font-size: 0.8rem;
      color: #999;
    }
    
    .comment-body {
      margin: 1rem;
    }
    
    .comment-admin-menu {
      font-size: 0.8rem;
      margin: 0 1rem 0 1rem;
      display: flex;
      justify-content: flex-end;
      a {
        text-decoration: none;
        border-radius: 5px;
        padding: 0.3rem;
        margin: 0.5rem 0.5rem 0.5rem 0;
        background-color: rgba(190,236,218,0.5);
        color: #999;
      }
    }
  }
  
//---Comment Form---
  .form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    .comment-err {
      background: rgba(222,112,89,0.5);
      border-radius: 5px;
    }
    
    .new_comment {
      width: 100%;
      .comment-author {
        border: solid 1px #ccc;
        border-radius: 5px;
        box-shadow: 0 1px 5px #ccc;
        width: 100%;
        padding: 0.8rem;
        margin-bottom: 1.8rem;
        background: #f0f0f0;
      }
      
      .comment-body {
        border: solid 1px #ccc;
        border-radius: 5px;
        box-shadow: 0 1px 5px #ccc;
        resize: vertical;
        width: 100%;
        height: 8rem;
        padding: 0.8rem;
        margin-bottom: 1.8rem;
        background: #f0f0f0;
      }
      
      .submit-btn {
        border: solid 1px #ccc;
        border-radius: 5px;
        box-shadow: 0 1px 5px #ccc;
        width: 50%;
        padding: 0.8rem;
        margin: 1.8rem auto 1.8rem auto;
        background: rgba(190,236,218,0.5);
      }
    }
  }
}
