@mixin icon-anime {
  .cls-1 {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1px;
    fill-rule: evenodd;
  }
  .WTAnijsk_0 {
    stroke-dasharray:642 644;
    stroke-dashoffset:643;
    animation:WTAnijsk_draw 2207ms linear 0ms forwards;
  }
  .WTAnijsk_1 {
    stroke-dasharray:193 195;
    stroke-dashoffset:194;
    animation:WTAnijsk_draw 665ms linear 2207ms forwards;
  }
  .WTAnijsk_2 {
    stroke-dasharray:36 38;
    stroke-dashoffset:37;
    animation:WTAnijsk_draw 127ms linear 2872ms forwards;
  }
  @keyframes WTAnijsk_draw {
    100% {
      stroke-dashoffset:0;
    }
  }
  @keyframes WTAnijsk_fade {
    0% {
      stroke-opacity:1;
    }
    94.44444444444444% {
      stroke-opacity:1;
    }
    100% {
      stroke-opacity:0;
    }
  }
  @content
}