@mixin logo-anime {
  .logo-path {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 5px;
    fill-rule: evenodd;
  }
  .PeviIHmq_0 {
    stroke-dasharray:263 265;
    stroke-dashoffset:264;
    animation:PeviIHmq_draw 631ms linear 0ms forwards;
  }
  .PeviIHmq_1 {
    stroke-dasharray:384 386;
    stroke-dashoffset:385;
    animation:PeviIHmq_draw 921ms linear 631ms forwards;
  }
  .PeviIHmq_2 {
    stroke-dasharray:193 195;
    stroke-dashoffset:194;
    animation:PeviIHmq_draw 464ms linear 1552ms forwards;
  }
  .PeviIHmq_3 {
    stroke-dasharray:356 358;
    stroke-dashoffset:357;
    animation:PeviIHmq_draw 854ms linear 2016ms forwards;
  }
  .PeviIHmq_4 {
    stroke-dasharray:53 55;
    stroke-dashoffset:54;
    animation:PeviIHmq_draw 129ms linear 2870ms forwards;
  }
  @keyframes PeviIHmq_draw {
    100% {
      stroke-dashoffset:0;
    }
  }
  @keyframes PeviIHmq_fade {
    0% {
      stroke-opacity:1;
    }
    94.44444444444444% {
      stroke-opacity:1;
    }
    100% {
      stroke-opacity:0;
    }
  }
  @content
}