// 記事投稿form

@mixin post-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .categories, label {
  
  }
  
  .post-title {
    width: 100%;
    .title-input {
      border: solid 1px #ccc;
      border-radius: 5px;
      box-shadow: 0 1px 5px #ccc;
      width: 100%;
      padding: 0.8rem;
      margin-bottom: 1.8rem;
      background: #f0f0f0;
    }
  }
  
  .post-thumb {
    width: 100%;
    .thumb-url {
      border: solid 1px #ccc;
      border-radius: 5px;
      box-shadow: 0 1px 5px #ccc;
      width: 100%;
      padding: 0.8rem;
      margin-bottom: 1.8rem;
      background: #f0f0f0;
    }
  }
  .post-keywords {
    width: 100%;
    .keywords-input {
      border: solid 1px #ccc;
      border-radius: 5px;
      box-shadow: 0 1px 5px #ccc;
      width: 100%;
      padding: 0.8rem;
      margin-bottom: 1.8rem;
      background: #f0f0f0;
    } 
  }
  .post-description {
    width: 100%;
    .description-input {
      border: solid 1px #ccc;
      border-radius: 5px;
      box-shadow: 0 1px 5px #ccc;
      width: 100%;
      padding: 0.8rem;
      margin-bottom: 1.8rem;
      background: #f0f0f0;
    } 
  }
  #editor{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .input {
      width: 49%;
      margin-right: 1%;
      .content-input {
        border: solid 1px #ccc;
        border-radius: 5px;
        box-shadow: 0 1px 5px #ccc;
        resize: vertical;
        width: 100%;
        height: 90vh;
        padding: 0.8rem;
        margin-bottom: 1.8rem;
        background: #f0f0f0;
      }
    }
    .output {
      width: 49%;
      height: 90vh;
      margin-left: 1%;
      margin-top: 2rem;
      overflow: scroll;
      h2 {
        font-size: 1.5rem;
        padding: 0.5em;
        margin-bottom: 1.5em;
        border-left: solid 0.3rem #19ffa7;
      }
      
      h3 {
        font-size: 1.3rem;
        margin-bottom: 1.5em;
        border-bottom: dotted 0.2rem #19ffa7;
      }
      p {
        margin-bottom: 1.8em;
      }
      code {
        padding: 0.4em;
        border-radius: 5px;
        font-size: 0.8rem;
        border: solid 1px #ccc;
        box-shadow: 0 0 5px #ccc;
        background: #f0f0f0;
      }
    }
  }
 @content
}