// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "responsive";
@import "post-form";
@import "icon-anime";
//@import "color"

//---Index page---
.index-box {
  width: 90%;
  margin: 3% 5%;
  //padding: 0 5%;
  background: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;

// Responsive    
@include portrait {
  width: 40%;
  margin: 2% auto;
}
@include landscape {
  width: 40%;
}
//  @include desktop {
//    width: 40%;
//    margin: 5% auto;
//  }
  a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-decoration: none;
    img {
      border-radius: 5px 5px 0 0;
      width: 100%;
      object-fit: cover;
    }
    h2 {
      width: 100%;
      font-size: 1.25rem;
      padding: 0.8rem;
      flex-grow: 2;
      
    }
    span {
      font-size: 0.8rem;
      width: 100%;
      border-top: dotted 1px #ccc;
      padding: 0.8em;
      color: #999;
      text-align: right;
    }
  }
}


.pagination {
  display: flex;
  width: 90%;
  margin: 3% auto;
  .first, .last, .next, .prev {
    max-width: 100%;
//    height: 2.5rem;
    margin: 0 auto;
    background-color: #f0f0f0;
    border: solid 1px #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    
    a {
      text-decoration: none;
      width: 100%;
      height: 100%;
      padding: auto;
      text-align: center;
    }
  }

  .next, .prev {
    flex-grow: 2;
  }
  .gap, .page {
    display: none;
  }
}


//---Show page---
.article {
  width: 100%;
  .article-header {
    width: 100%;
    margin: 0 auto;
    .article-img {
      width: 100%;
      margin: 0 auto;
      line-height: 0;
      position: relative;
      img {
        width: 100%;
        object-fit: cover;
      }
      svg {
        width: 20%;
        height: 20%;
        position: absolute;
        top: 0;
        left: 0;
        @include icon-anime {
        }
      }
    }
    
    .article-title {
      border-radius: 0 0 5px 5px;
      margin-bottom: 1.8rem;
      padding: 0 5%;
      h1 {
        font-size: 1.5rem;
        font-weight: bold;
        margin:auto 1% auto 1%;
        padding: 0.8em 0 0 0;
        
        
      }
      
      .article-date {
        font-size: 0.8rem;
        display: flex;
        flex-wrap: wrap;
        padding: auto;
        margin: 0 1% 0 1%;
        border-bottom: double 1rem #19ffa7;
        p {
          border-radius: 5px;
          padding: 0.3rem;
          margin: 0.5rem 0.5rem 0.5rem 0;
          background-color: rgba(190,236,218,0.5);
          color: #999;
        }
        
        .article-categories {
          font-size: 0.8rem;
          display: flex;
          a {
            text-decoration: none;
            border-radius: 5px;
            padding: 0.3rem;
            margin: 0.5rem 0.5rem 0.5rem 0;
            background-color: rgba(190,236,218,0.5);
            color: #999;
          }
        }
        
        .admin-menu {
          font-size: 0.8rem;
          display: flex;
          a{
            text-decoration: none;
            border-radius: 5px;
            padding: 0.3rem;
            margin: 0.5rem 0.5rem 0.5rem 0;
            background-color: rgba(190,236,218,0.5);
            color: #999;
          }
        }
      }
    }
  }
  .article-content {
    width: 100%;
    margin: 0 auto;
    padding: 0 5%;
    h2 {
      font-size: 1.5rem;
      padding: 0.5em;
      margin-bottom: 1.5em;
      border-left: solid 0.3rem #19ffa7;
    }
    
    h3 {
      font-size: 1.3rem;
      margin-bottom: 1.5em;
      border-bottom: dotted 0.2rem #19ffa7;
    }
    p {
      margin-bottom: 1.8em;
    }
    code {
      padding: 0.4em;
      border-radius: 5px;
      font-size: 0.8rem;
      border: solid 1px #ccc;
      box-shadow: 0 0 5px #ccc;
      background: #f0f0f0;
    }
    .CodeRay {
      max-width: 100%;
      margin: -1.8rem auto 1.8rem;
      overflow-x: scroll;
      white-space: nowrap;
      font-size: 0.8rem;
      border: solid 1px #ccc;
      border-radius: 5px;
      box-shadow: 0 2px 5px #ccc;
      background: #f0f0f0;
    }
  }
  .twitter-share {
    margin: 0 auto;
    padding: 0 5%;
  }
}
//---New page---
.edit_post {
  @include post-form {
    
  }
}

//---Edit page---
.new_post {
  @include post-form {
    
  }
}