//  メディアクエリ スマホ用は指定無しで書く

// スマホ横、タブレット縦
  @mixin portrait {
    @media screen and (min-width: 480px) {
      max-width: 767px;
      @content
    }
  }

// タブレット横
  @mixin landscape {
    @media screen and (min-width: 768px) {
      max-width: 979px;
      @content
    }
  }

// デスクトップ
//  @mixin desktop {
//    @media screen and (min-width: 980px) {
//      max-width: 100%;
//      @content
//    }
//  }

//  呼び出し例
//  p {
//     font-size: 16px;
//     @include desktop {
//      font-size: 20px
//    }
//  }