<%= form_for(@category) do |f| %>
<div class="category-name">
  <h1><%= f.label :name, "カテゴリー名" %></h1>
  <%= f.text_field :name, class: "name-input" %>
</div>
<div class="category-thumb">
  <h1><%= f.label :thumb, "サムネイルURL" %></h1>
  <%= f.text_field :thumb, class: "category-url" %>
</div>
  <%= f.submit "作成" %>
<% end %>