<% set_meta_tags title: "タグ", og: { title: "タグ", type: 'blog' }, twitter: { title: "タグ" } %>
<div class="categories-index">
  <h1>タグ一覧</h1>
  
  <div class="categories">
    <ul>
      <% @categories.each do |category| %>
        <li>
          <%= link_to category_path(category) do %>
            <%= image_tag "#{category.thumb}" %>
            <h2><%= category.name %></h2>
          <% end %>
        </li>
      <% end %>
    </ul>
  
  
    <div class="admin-menu">
      <% if admin_signed_in? %>
        <%= link_to "新規作成", new_category_path %>
      <% end %>
    </div>
  </div>
</div>