<% set_meta_tags title: @category.name, og: { title: @category.name, type: 'blog' }, twitter: { title: @category.name } %>
<div class="categories-show">
  <h1>"<%= @category.name %>"のタグがついた記事</h1>
  <div class="categories">
    <% if admin_signed_in? %>
      <div class="admin-menu">
        <%= link_to "編集", edit_category_path(@category.id) %>
        <%= link_to "削除", category_path(@category.id), method: :delete, data: {confirm: "削除しますか？"} %>
      </div>
    <% end %>
    <ul>
      <% @posts.each do |post| %>
        <li>
          <%= link_to post_path(post.id) do %>
            <%= image_tag "#{post.thumb}" %>
            <h2><%= post.title %></h2>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>