<% set_meta_tags noindex: true %>
<%= link_to "画像追加", new_image_path %>
<% @images.each do |i| %>
  <p><%= i.name %></p>
  <%= i.image.url %>
  <%= image_tag i.image.to_s %>
  <%= link_to "編集", edit_image_path(i.id) %>
  <%= link_to "削除", image_path(i.id), method: :delete, data: {confirm: "削除しますか？"} %>
<% end %>