<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<span class="logo"><%= render 'layouts/logo' %></span>
  <div id="nav-drawer">
    <input id="nav-input" type="checkbox" class="nav-unshown">
    <label id="nav-open" for="nav-input"><i class="fas fa-bars fa-2x"></i></label>
    <label class="nav-unshown" id="nav-close" for="nav-input"><i class="fas fa-times-circle fa-2x"></i></label>
  <div id="nav-content">
    <ul>
    <% if admin_signed_in? %>
      <%= link_to new_post_path do %>
      <li>
        <i class="fas fa-plus-circle fa-fw"></i><span>新規作成</span>
      </li>
      <% end %>
      <%= link_to edit_admin_registration_path do %>
        <li>
          <i class="fas fa-user fa-fw"></i><span>プロフィール</span>
        </li>
      <% end %>
      <%= link_to destroy_admin_session_path, method: :delete do %>
        <li>
          <i class="fas fa-sign-out-alt fa-fw"></i><span>ログアウト</span>
        </li>
      <% end %>
    <% end %>
      <%= link_to categories_path do %>
        <li>
          <i class="fas fa-tags fa-fw"></i><span>タグ一覧</span>
        </li>
      <% end %>
      <%= link_to root_path do%>
        <li>
          <i class="fas fa-home fa-fw"></i><span>ホーム</span>
        </li>
      <% end %>
    </ul>
  </div>
</div>


