<svg id="logo1" data-name="logo1" xmlns="http://www.w3.org/2000/svg" width="368" height="88" viewBox="0 0 368 88" style="">
  <metadata>
   <rdf:rdf xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
      <rdf:description rdf:about=""></rdf:description>
   </rdf:rdf>
  </metadata>
<defs>

  </defs>
  <path id="logo2" data-name="logo2" class="logo-path PeviIHmq_1" d="M56,43S68.124,29.621,75,25c-1.33,2.021-15.012,6.336,4,9C56.983,53.857,67.368,60.68,82,47c5.644,2.927,7.173,4.292,11,4,23.365,2.053,18.284-24.534-4-5-9,6.834-9.329,20.073,14,12,8.871-2.8,19.051-3.443,25-4,15.522-7.981.576-16.431-11-4-4.152,5.007-8.82,19.281,11,14,7.512-3.523,16.2-12.675,19-18-4.494,12.309-10.177,19.466-8,20,6.671-4.351,18.125-21.536,25-19-15.984,28.13-3.872,23.418,10,12"></path>
  <path id="logo3" data-name="logo3" class="logo-path PeviIHmq_2" d="M230,30c1.341,0.114-26.244-2.345-23,30,6.351,21.416,31.792,14.048,41-7s-3.262-44.223-34-27c-13.055,10.2-12.963,22.361-13,25"></path>
  <path id="logo4" data-name="logo4" class="logo-path PeviIHmq_3" d="M265,41l-3,23s14.393-24.055,18-26c-10.265,36.544,9.982,14.762,15,11s9.511-14.32,10-15c-15.337,28.235.411,27.781,14-5,7.142-12.852-3.306,47.653-13,55-5.4,4.22-14.337-2.9,0-18,9.453-8.454,26.781-26.173,32-40,6.392-2.3,5.323,5.418,13,15,7.287,4.307,12.749-4.471,14-14"></path>
  <path id="logo5" data-name="logo5" class="logo-path PeviIHmq_4" d="M358,19s-23.381,26.1-23,46"></path>
  <path id="logo1" data-name="logo1" class="logo-path PeviIHmq_0" d="M57,12S49.43-6.049,17,7C-3.087,17.476-12.123,60.629,54,28c5.557-1.565-25.1,36.777-35,40C3.633,76.107-6.708,62.233,17,51c7.492-3.809,22.387-9.1,35-5"></path>
</svg>
