<!DOCTYPE html>
<html lang='ja'>
  <head>
    <%= display_meta_tags(default_meta_tags) %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Google analytics-->
    <%= analytics_init if Rails.env.production? %>
    <!-- Realtime preview -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.10/vue.js'></script>  
    <script src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.js'></script> 
    <!-- Fontawesome -->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!--favicon-->
    <%= favicon_link_tag("favicons/favicon.ico") %>
    <!--apple-->
    <%= favicon_link_tag("favicons/green-onyx-icon.png",
                         {:rel => "apple-touch-icon",
                          :sizes => "180x180",
                          :type => "image/png"}) %>
  </head>

  <body>
    <div class="wrapper">
      <header><%= render 'layouts/header' %></header>
      <div class="main"><%= yield %></div>
      <footer><%= render 'layouts/footer' %></footer>
    </div>
  </body>
</html>
